.header {
   position: absolute;
   display: block;
   top:0;
   z-index: 1;
    
  

}





.header_info {
  
  
  
   
   
      
 
         background: rgba($lightBlue,0.9);
         position: fixed;
         -webkit-box-shadow: 0 10px 6px -6px $silver;
         -moz-box-shadow: 0 10px 6px -6px $silver;
         box-shadow:  0 10px 6px -6px $silver;
         height: 80px;
         transition: all .3s;
         z-index: 1;
         width: 100%;

  
    

    &__title {
        position: absolute;
        left: 20px;
        margin-top: 20px;
        font-size: 0.7rem;
        color:#FFF;
        display: block;
        text-transform: uppercase;
        font-family: 'Vollkorn SC', serif;
        font-weight: 300;
        
         @mixin atSmall {
             font-size: 1rem;
         }

    }
    
     &__name {
        
        position: absolute;
        left: 0;
        padding-top: 40px;
         padding-left: 20px;
        font-size: 1rem;
        color:$lightBlue;
        display: block;
        font-family:  'Vollkorn SC', serif,cursive;
        cursor: default;
        transition: all .3s;
        opacity: 0;
         transform: translateX(-50%);
         
         @mixin atSmall {
             font-size: 1.5rem;
         }
    }
    
 
   
    

    
   
    

        
  
    
}





.header_info__title__hidden {

        display: block;
   
}
.scroll_nav {
    transition: all .3s;
    padding: 5px 0;
    background: #FFF;
    
}



.scroll_nav .header_info__name {
    opacity: 1;
    transform: translateX(0);
}


.scroll_nav .header_info__title {
    color:$silver;
}











