.image_space {
    
    background-image: url(../../images/Shrub-100px-1920x750.jpg);
    height:100%;

    position: relative;
    background-attachment: fixed;
    background-position: center;
       -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    
    
    
     
    @mixin atMedium {
        height: 80vh;
    }
    
    &__h1 {
        text-align: center;
        color:#FFF;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: 'Cormorant', serif;
        font-weight: 300;
       
        
        @mixin atSmall {
             font-size: 4rem;
        }
    }
}


 .image_space__grid {
        
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-gap: 50px;
        position: relative;
        overflow: hidden;
        grid-auto-rows:min(200px,auto);
        padding: 10px 10px;
        height: auto;
        width: auto;
        margin: 0;
        box-sizing: border-box;
     
        
        
        
        @mixin atSmall {
               grid-template-columns:repeat(2, 1fr);
               grid-gap: 100px;
           
        }
     
     @mixin atLarge {
               grid-template-columns:repeat(2, 1fr);
               grid-gap: 200px;
               top:30%;
              
     }
        
        
        
        
      
        
        & > div {
            background: rgba($lightBlue,0.7);
            height: auto;
            position: relative;
            display: block;
            color:#FFF;
            font-family: 'Cormorant', serif;
            text-transform: uppercase;
            -webkit-box-shadow: 0 10px 26px -10px $lightBlue;
            -moz-box-shadow: 0 10px 26px -10px $lightBlue;
            box-shadow:  0 10px 26px -10px $lightBlue;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 5px;
         
            & h3 {
                text-align: center;
                 font-size: 1.4rem;
                
                
  
            }
                
               &   ul {
                    font-size: 0.8rem;
                    text-transform: none;
                   font-family: 'Merriweather', serif;
                   list-style: none;
                   
                      @mixin atSmall {
            font-size: 1em;
            }
                     
                }
           
            @mixin atSmall {
            font-size: 1rem;
            }
        }
        


    }
    

