.section3 {
    background:#FFF;
    max-height: 1000px;
    width: 100%;
    background: rgba($lightBlue,0.3);
    
    position: relative;
    margin: 0;
    padding: 0;
    
    
    & h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: 'Cormorant', serif;
        font-weight: 300;
        padding: 20px;
        color: #FFF;
        
        
        @mixin atSmall {
            font-size: 4rem;
        }
       
        
    }
    
    
    
    &__conteiner {
        background: rgba($lightBlue,0.8);
        padding:2em ;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        color:black;
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(200px,auto);
        grid-gap: 50px;
        position: relative;
        box-shadow: 0 0 30px 0 rgba($lightBlue,0.9);
        @mixin atMedium {
            grid-template-columns:1fr 1fr;
        }
        
        & > div {
            height: auto;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width:auto;
             box-sizing: border-box;
        }
        
        & > div ul {
            list-style: none;
            
            
        }
        
        & div:nth-child(2){
            font-family: 'Lato', sans-serif;
            font-size: 1.2rem;
            color:$silver;
             background:rgba($lightBlue,0.5);
            & form {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 5px;
                justify-content: center;
                

                
                @mixin atSmall {
                    grid-template-columns: 1fr 1fr;
                }
                
                & p {
                    margin: 0;
                    padding:0.5em;
                     box-sizing: border-box;
                      &:hover input{
                            border: 1.5px solid #7ee26a;
                          
                       
                        }
                    
                    & > input {
                        padding: 1em 1em;
                       
                        border: 1.5px solid $lightBlue;
                        transition: ease-in 500ms;
                        font-size: 1rem;
                      
                    }
                    
                    & textarea  {
                        padding: 1em 1em;
                        height: 90px;
                         border: 1.5px solid grey;
                        transition: ease-in 500ms;
                        font-size: 1rem;
                        &:hover {
                            border: 1.5px solid #7ee26a;
                       
                        }
                    }
                    
                    & button {
                        background: none;
                        font-family: 'Roboto Slab', serif;
                        height: 30px;
                        width: 250px;
                        font-weight: 700;
                        text-transform: uppercase;
                        border: none;
                        cursor: pointer;
                        color:#FFF;
                        box-shadow: 0 0 50px 0 #1dc145;
                        transition: 300ms ease-in-out;
                        margin: 0;
                        
                        &:hover {
                            background: #7ee26a;
                          
                            
                            
                        }
                    }
                }
            }
           
        }
        
        & > div:nth-child(1){
            background:rgba($lightBlue,0.5);
            text-align: left;
            font-size: 1.3rem;
           font-family: 'Lato', sans-serif;
             
           
           
        }
    }
}

.icon {
    color:#7ee26a;
    padding: 5px 10px 0px 5px;
    font-size: 2rem;
}

